<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Every case is important to us! </h2>
                <hr class="light">
                <p class="text-faded">We maintain a focused practice area in the field of personal injury in order to maintain the highest standards of professional representation for our clients.  We do not stray from these practice areas, so you can be assured your case is being handled by an experienced professional.  Our attorneys have experience litigating cases in the following practice areas:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div>
                    <a href="{{ "/#contact" }}" class="btn btn-default btn-xl">Contact Us!</a>
                </div>
            </div>
        </div>
    </div>
</section>
