<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline text-center">
                    <li>
                        <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-inline text-center">
                    <li>
                        powered by: <a href="http://www.xminimus.com">xMinimus</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>