<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-heartbeat fa-3x wow bounceIn text-primary"></i>
                    <h4>Wrongful death</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-truck fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>Car/truck wrecks</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-ambulance fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>Falls due to negligence</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-shopping-cart fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>Claims against big box stores (Wal-Mart, Sam’s Club, Kroger’s, Target, etc.)</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-fighter-jet fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>Claims against the Veterans Administration under the Federal Tort Claims Act</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-medkit fa-3x wow bounceIn text-primary" aria-hidden="true" ></i>
                    <h4>Dog bites</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-shopping-cart fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>Defective products</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-hospital-o fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>Claims against your insurance company for denial of your no-fault (PIP) benefits</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-h-square fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>General negligence claims</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-heart-o fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>Bad faith claims against your insurance company</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-gavel fa-3x wow bounceIn text-primary" aria-hidden="true"></i>
                    <h4>Criminal Defense</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div>
                    <a href="{{ "/#contact" }}"" class="btn btn-default btn-xl">Contact Us!</a>
                </div>
            </div>
        </div>
    </div>
</section>
